<html xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{page}">
    <div class="row ">
        <div class="col-sm-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">General</h5>
                    <p class="card-text">
                        {page.title} <br>
                        {page.nav_title} <br>
                        {page.subtitle} <br>
                    </p>
                    <be:link.editRecord class="btn btn-default btn-sm" fields="title,nav_title,subtitle"
                                        returnUrl="{returnUrl}"
                                        table="pages" uid="{page.uid}">
                        <core:icon alternativeMarkupIdentifier="inline" identifier="actions-open"/>
                    </be:link.editRecord>
                    <be:link.editRecord class="btn btn-default btn-sm" returnUrl="{returnUrl}" table="pages"
                                        uid="{page.uid}">
                        <core:icon alternativeMarkupIdentifier="inline" identifier="actions-page-open"/>
                        Seiteneigenschaften
                    </be:link.editRecord>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Seo</h5>
                    <p class="card-text">
                        {page.seo_title} <br>
                        {page.description} <br>
                        {page.og_title} <br>
                        {page.og_description} <br>
                    </p>
                    <be:link.editRecord class="btn btn-default btn-sm"
                                        fields="seo_title,description,og_title,og_description "
                                        returnUrl="{returnUrl}"
                                        table="pages" uid="{page.uid}">
                        <core:icon alternativeMarkupIdentifier="inline" identifier="actions-open"/>
                    </be:link.editRecord>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-dark bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Images</h5>
                    <p class="card-text">
                        <f:if condition="{twitterImage}">
                            <f:image image="{twitterImage.0}" width="50px"/>
                        </f:if>
                        <f:if condition="{facebookImage}">
                            <f:image image="{facebookImage.0}" width="50px"/>
                        </f:if>
                        <f:if condition="{media}">
                            <f:image image="{media.0}" width="50px"/>
                        </f:if>
                    </p>
                    <be:link.editRecord class="btn btn-default btn-sm" fields="og_image,twitter_image,media"
                                        returnUrl="{returnUrl}"
                                        table="pages" uid="{page.uid}">
                        <core:icon alternativeMarkupIdentifier="inline" identifier="actions-open"/>
                    </be:link.editRecord>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-dark bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Metadata</h5>
                    <p class="card-text">
                        {page.abstract} <br>
                        {page.keywords} <br>
                        {page.author} <br>
                    </p>
                    <be:link.editRecord class="btn btn-default btn-sm" fields="abstract,keywords,author"
                                        returnUrl="{returnUrl}"
                                        table="pages" uid="{page.uid}">
                        <core:icon alternativeMarkupIdentifier="inline" identifier="actions-open"/>
                    </be:link.editRecord>
                </div>
            </div>
        </div>
    </div>
</f:if>
</html>
