services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  Mblunck\CozyBackend\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  Mblunck\CozyBackend\EventListener\PageModulePreviewEventListener:
    tags:
      - name: event.listener
        identifier: 'page-properties-to-page-module'

  Mblunck\CozyBackend\UserFunc\AbstractUserFunc:
    public: true

  Mblunck\CozyBackend\UserFunc\ElementListUserFunc:
    public: true

  Mblunck\CozyBackend\Hooks\Datahandler:
    public: true

  Mblunck\CozyBackend\DataProcessing\VapidPublicKeyDataProcessor:
    tags:
      - name: 'data.processor'
        identifier: 'cozy-backend/vapid-public-key'
